@{
    ViewBag.Title = "Home Page";
}
<section class="jumbotron center">
    <h2>Welcome The Our Online Book Store!</h2>
    <h4>here you can buy books without even get out of your house...</h4>
</section>