<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UnAuthorized</title>
</head>
<body>
    <hgroup>
        <h2>You are unauthorized to view this page.</h2>        
    </hgroup>
</body>
</html>
